[submodule "third_party/endive"]
	path = third_party/endive
	url = https://github.com/bytecodealliance/endive.git
[submodule "third_party/endive-cm"]
	path = third_party/endive-cm
	url = https://github.com/Phoenixxo/endive-cm.git
	branch = fix/outer-alias-structural-type-match
[submodule "third_party/pumpkin"]
	path = third_party/pumpkin
	url = https://github.com/Phoenixxo/Pumpkin.git
	branch = feat/pumpkin-patch-mux
